[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor"]
	path = vendor
	url = https://github.com/glfw/glfw.git
[submodule "vend"]
	path = vend
	url = https://github.com/glfw/glfw.git
[submodule "v/glfw"]
	path = v/glfw
	url = https://github.com/glfw/glfw.git
